.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 75px);
  margin-top: 75px;
  margin-left: 75px;  
  padding: 0 2rem;
  background: whitesmoke;
}

.container_dash {
  display: flex; /* Makes the container a flexbox container */
  flex-direction: row; /* Sets the main axis to be horizontal */
  justify-content: center; /* Centers items horizontally along the main axis */
  align-items: flex-start; /* Aligns items at the top along the cross axis */
  min-height: calc(100vh - 75px); /* Ensures the container height is viewport height minus 75px */
  margin-top: -50px; /* Adds a 75px margin at the top */
  margin-left: 75px; /* Adds a 75px margin at the left */
  padding: 1rem; /* Adds padding of 1rem all around the container */
  gap: 1rem; /* Adds a 1rem gap between the flex items */
  background: whitesmoke; /* Sets the background color to whitesmoke */
}

.header {
  gap: 3rem;
  margin: 3rem auto 5rem auto;
  width: 90%;
  max-width: 75rem;
  color: #103f54;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.main {
  gap: 3rem;
  padding: 1rem;
  margin: 3rem auto 5rem auto;
  width: 90%;
  max-width: 50rem;
  color: #103f54;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-align: justify;
}
  
.description {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: #0054A6;
  position: absolute;
  bottom: 10px;
  right: 10px;
}






