.link {
  padding: 0rem 0rem;
  font-family: 'Montserrat', sans-serif; 
  position: relative;
  display: inline-block;
  }
  
  .link:hover{
    color:rgba(173, 216, 230, 1);
    background-clip: padding-box;
    -webkit-background-clip: padding-box;

  }

.active {
    color:rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
  }



/* Add Tooltip text */
.link::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 50%; /* Position it below the link */
    left: 300%;
    transform: translateX(-50%);
    /*background-color: #0054A6;*/
    background-color: #103f54;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap; /* Prevent line breaks */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.link:hover::after {
    visibility: visible;
    opacity: 1;
}