.sidebar {
    height: 100vh;
    width: 75px;
    position: fixed;
    left: 0;
    background-color: white;
    color: #0054A6;
    padding: 15px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.25rem;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    padding: 1rem 1rem;
    height: 100%;
    background: white;
    color: #0054A6;
    position: fixed; 
    top: 78px;
    width: 75px; 
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
  
  .container h2 {
    text-align: center;
  }
  
  .container ul {
    list-style-type: none;
    padding: 0.5rem 0.5rem;

  }
  
  .container ul li {
    margin: 15px 0;
  }
  

