.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 50px);
  margin-top: 50px;
  margin-left: 50px;  
  padding: 0 2rem;
  background: whitesmoke;
}

.container_dash {
  margin: 0rem auto 0rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);; /* 5 equal columns */
  grid-template-rows: auto; /* rows adjust to content height */
  gap: 10px; /* gap between grid items */
}

/* Media query for responsiveness */
@media screen and (max-width: 1200px) {
  .container_dash {
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  }
}

@media screen and (max-width: 900px) {
  .container_dash {
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  }
}

@media screen and (max-width: 600px) {
  .container_dash {
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
  }
}

@media screen and (max-width: 400px) {
  .container_dash {
    grid-template-columns: 1fr; /* 1 column */
  }
}

.header {
  gap: 3rem;
  margin: 3rem auto 3rem auto;
  width: 90%;
  max-width: 75rem;
  color: #103f54;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 2rem; /* Adjust font size for small displays */
  }
}

@media screen and (max-width: 480px) {
  .header {
    font-size: 1.5rem; /* Further adjust font size for very small displays */
  }
}

.main {
  gap: 3rem;
  padding: 1rem;
  margin: 0rem auto 5rem auto;
  width: 90%;
  max-width: 50rem;
  color: #103f54;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-align: justify;
}

