.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Montserrat', sans-serif; 
  min-height: calc(100vh - 75px);
  margin-top: 75px;
  margin-left: 75px; 
  padding: 0 2rem;
  background-image: url('/images/WaterTexture.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: bold;
  color: #103f54;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
}

.content {
  font-size: 1.2rem;
  color: #103f54;
  text-align: center;
  max-width: 800px;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
}

.bold {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

