.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Montserrat', sans-serif; 
  min-height: calc(100vh - 75px);
  margin-top: 50px;
  margin-left: 50px; 
  padding: 0 2rem;
  background-image: url('/images/WaterTexture.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.header {
  gap: 3rem;
  margin: 3rem auto 2rem auto;
  width: 90%;
  max-width: 75rem;
  color: #103f54;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  /*background-color: rgba(255, 255, 255, 0.8);*/
}

@media (max-width: 768px) {
  .header {
    font-size: 2rem; /* Adjust font size for small displays */
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 1.5rem; /* Further adjust font size for very small displays */
  }
}

.content {
  font-size: 1.2rem;
  color: #103f54;
  text-align: center;
  max-width: 800px;
  padding: 1.5rem;
  border-radius: 8px;
  /*background-color: rgba(255, 255, 255, 0.8);*/
}

@media screen and (max-width: 768px) {
  .content {
    font-size: 1rem; /* Adjust font size for small displays */
  }
}

@media screen and (max-width: 480px) {
  .content {
    font-size: 0.8rem; /* Further adjust font size for very small displays */
  }
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

