.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 50px);
  margin-top: 50px; 
  margin-left: 50px; 
  padding: 0 2rem;
  background: whitesmoke;
}

.header {
  gap: 3rem;
  margin: 3rem auto 5rem auto;
  width: 90%;
  max-width: 75rem;
  color: #103f54;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.main {
  gap: 3rem;
  padding: 1rem;
  margin: 3rem auto 5rem auto;
  width: 90%;
  max-width: 50rem;
  color: #103f54;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 2rem; /* Adjust font size for small displays */
  }
}

@media screen and (max-width: 480px) {
  .header {
    font-size: 1.5rem; /* Further adjust font size for very small displays */
  }
}